body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Piri_reis_world_map_01.jpg/800px-Piri_reis_world_map_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
